---
title: Just another Sunday
---

Some amazing JS right here.

```javascript{4}
// In your gatsby-config.js
plugins: [
  {
    resolve: `gatsby-transformer-remark fffffffffffffffffffffffffffffffffffffffffffffffffffffffffff`,
    options: {
      plugins: [
        `gatsby-remark-prismjs`,
      ]
    }
  }
]
```

```css
.gatsby-highlight-code-line {
  background-color: #feb;
  display: block;
  margin-right: -1em;
  margin-left: -1em;
  padding-right: 1em;
  padding-left: 0.75em;
  border-left: 0.25em solid #f99;
}
```

```javascript{1,4-6}
// In your gatsby-config.js
plugins: [
  {
    resolve: `gatsby-transformer-remark`,
    options: {
      plugins: [
        `gatsby-remark-prismjs`,
      ]
    }
  }
]
```

I can highlight `css±.some-class { background-color: red }` with CSS syntax.